*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
    /* gap: 30px; */
    height: 100vh;
}

h1{
    text-align: center;
    margin-top: 40px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px;
    gap: 50px;
}

section{
    border: 2px solid black;
    padding: 30px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

footer{
    width: 100vw; 
    background-color: blue;
    position: fixed;
    bottom: 0;
}

nav{
   
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100vw; 
}
